div.css-1y4p8pa.ea3mdgi4{ 
  color: #fff;
  text-shadow:
    0 0 7px #4290f5,
    0 0 10px #4290f5,
    0 0 21px #4290f5,   
    0 0 42px #4290f5;   
}

label.css-ue6h4q.e1y5xkzn3{
  color: #fff;
  text-shadow:
    0 0 7px #4290f5,
    0 0 10px #4290f5,
    0 0 21px #4290f5,
    0 0 42px #4290f5;
}

div.css-qmjg5t.e1f1d6gn2:hover{

  color: #fff;
  text-shadow:
    0 0 7px #4290f5,
    0 0 10px #4290f5,
    0 0 21px #4290f5,   
    0 0 42px #4290f5,    
    0 0 60px #4290f5,    
    0 0 82px #4290f5,    
    0 0 92px #4290f5; 
             
}
